/* font-family: "Kavivanar", serif; 
font-family: "Poppins", serif; 
 font-family: "Montserrat", serif
color : #BD002E
bg color : #F8F8F8*/
.nav-title{
    font-family: "Montserrat", serif; 
    font-weight: 600;
    color: #BD002E !important;
}
.nav-title:hover{
    cursor: pointer !important;
}
.sticky-navbar{
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
    background-color: white !important;
    
}
.nav-img{
    position: relative;
    bottom: 10px;
    right: 15px;
}
.nav-heading{
    font-family: "Montserrat", serif; 
    color: rgb(74, 71, 71) !important;
    font-weight: 600;
    padding-left: 60px;
}
.nav-heading:hover{
    color: #BD002E !important;
}
.nav-content{
    position: relative;
    left: 90px;
}
.nav-searchbar{
    border: none  !important;
    border-radius: 5px !important;
    width: 180px !important;
    background-color: rgb(224, 217, 217) !important;
    position: relative;
    right: 50px;
}
.nav-searchbar::placeholder{
    font-family: "Montserrat", serif; 
    color: rgb(105, 105, 105) !important;
}
.nav-btn{
    width: 160px;
    font-weight: 600 !important;
    font-family: "Montserrat", serif !important; 
    background-color: #BD002E !important;
    color: white !important;
    border-color: #BD002E !important;
    border-radius: 5px !important; 
    
}
.nav-icon{
    color: white;
    position: relative;
    left: 35px;
    top: 6px;
}
.nav-btn:hover{
    color: #BD002E !important;
    background-color: white !important;
    /* border: 1px solid; */
}
.nav-icon:hover{
    color: #BD002E !important;
}
.bg-one{
    background-color: #F8F8F8;
    height: auto;
    width: 100%;
}
.section1-div{
    margin-top: 130px;
    width: 31rem;
    /* position: relative;
    left: 50px; */
}
.section1-content{
    font-family: "Montserrat", serif !important; 
    font-weight: 700 !important;
    color: #BD002E;
}
.section1-subcontent{
    font-family: "Montserrat", serif !important; 
    color: rgb(108, 105, 105) !important;
    font-weight: 600;
    font-size: 14px;
}
.btn-one{
    font-family: "Montserrat", serif !important; 
    background-color: #BD002E !important;
    color: white !important;
    border-color: #BD002E !important;
    border-radius: 5px !important; 
    font-weight: 600 !important;
    border: none !important;
    padding: 10px ;
}
.btn-one:hover{
    background-color: white !important;
    color: #BD002E !important;
    border-color: #BD002E !important;
    border-radius: 5px !important; 
    border: 1px solid !important;
    font-weight: 600;
}
.btn-two{
    font-family: "Montserrat", serif !important; 
    color: #BD002E !important;
    background-color: white !important;
    border-color: #BD002E !important;
    border-radius: 5px !important; 
    border: 1px solid; 
    margin-left: 15px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-two:hover{
    background-color: #BD002E !important;
    color: white !important;
    font-weight: 600;
}
.img-one{
    
    position: relative;
    bottom: 70px;
}
.img2{
    width: 50%;
}
.bg-two{
    background-color: #BD002E;
    height: auto;
    width: 100% !important;
}
.section2-text{
    font-family: "Montserrat", serif !important; 
    color: white;
    font-weight: 500;
}
.section2-undertext{
    font-family: "Montserrat", serif !important; 
    color: white;
    position: relative;
    left: 25px;
    font-weight: 500;
}
.bg-three{
    background-color: #F8F8F8 !important;
    height: 2300px !important;
    width: 100%;
}

.section3-content{
    font-family: "Montserrat", serif !important; 
    font-weight: 700 !important;
    
    color: #BD002E;
}
.section3-subcontent{
    font-family: "Montserrat", serif !important; 
    color: rgb(108, 105, 105) !important;
    font-weight: 600;
   
    font-size: 14px;
}
.section3-div{
    margin-top: 50px;
    width: 29rem !important;
    position: relative;
    right: 50px;
}
.section3-div2{
    text-align: center;
    justify-content: center;
    position: relative;
    left: 300px;
    width: 40rem !important;
}
.card-section{
    border: none !important;
}
.explore-heading{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    font-weight: 700;
}
.explore-subbox{
    font-family: "Montserrat", serif !important; 
    color: rgb(108, 105, 105) !important;
    /* width: 29rem !important; */
    
    font-weight: 600;
    font-size: 14px;
}
.img3,.img6,.img9{
    /* position: relative;
    left: 70px; */
    /* left: 90px;
    top: 8px;
*/
}
.img5,.img8,.img11{
    /* position: relative;
    left: 70px; */
    /* right: 90px !important;
    top:3px; */
}
.img4,.img7,.img10{
     /* position: relative;
     left: 70px; */
   
}
.btn-three{
    font-family: "Montserrat", serif !important; 
    background-color: #BD002E !important;
    color: white !important;
    border-color: #BD002E !important;
    border-radius: 5px !important; 
    font-weight: 600 !important;
    border: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 44%;
    margin-top: 10px; */
}
.btn-three:hover{
    background-color: white !important;
    color: #BD002E !important;
    border: 1px solid !important;
    border-radius: 5px !important ;
}
/* .heading{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    margin-top: 100px !important;
    text-align: center;
    position: relative;
    right: 70px;
    font-weight: 600;
}
.sub-heading{
    font-family: "Montserrat", serif !important; 
    text-align: center;
    position: relative;
    right: 70px;
    font-weight: 600;
    color: rgb(108, 105, 105) !important;
} */
.ts-heading{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    font-weight: 700 !important;
}
.ts-sub{
    font-family: "Montserrat", serif !important; 
    font-weight: 600;
    color: rgb(108, 105, 105) !important;
}
.card{
    border: 2px solid !important;
    border-color: rgb(187, 187, 187) !important;
    width: 330px !important;
    height: 580px !important;
    border-radius: 10px;
    padding: 15px;
}
.fb-text{
    text-align: center;
    padding-top: 35px;
    font-family: "Montserrat", serif !important;
    color: rgb(108, 105, 105) !important;
    font-weight: 500;
}
.card-img{
    position: relative;
    left: 100px;
    top: 10px;
}
.stars{
   font-size: 23px;
   color: gold;
   font-weight: 600;
}
.semicolon{
    margin-left: 80%;
    /* padding-top: 10px; */
}
.stars{
    position: relative;
    left: 70px;
    bottom: 10px;
}
.fb-name{
    text-align: center;
    font-family: "Montserrat", serif !important;
    color: rgb(108, 105, 105) !important;
    font-weight: 500;
    font-size: large;
}
.footer-bg{
    margin-top: 100px;
    background-color: #BD002E !important;
    height: 350px !important;
}
.footer-title{
    font-family: "Montserrat", serif !important; 
    color: white;
    margin-top: 130px;
    font-weight: 600;
    font-style: italic;
}
.ft-img{
    position: relative !important;
    top: 165px !important;
    right: 60px;
}
.footer-heading1{
    font-family: "Montserrat", serif !important; 
    color: white;
    font-weight: 600;
    margin-top: 100px;
}
.link-list{
    font-family: "Montserrat", serif !important; 
    color: white;
    padding: 10px;
    font-weight: 400;
}
.link-list:hover{
    cursor: pointer;
}
.footer-col2{
    /* position: relative;
    left: 50px; */
}
.footer-col3{
    position: relative;
    right: 60px;
}

.linklist-icon{
    padding-right: 5px !important;
    width: 20px !important;
}
.footer-subscribe{
    border: none !important;
    background-color: #BD002E !important;
    border: 1px solid !important;
    border-color:rgb(134, 129, 129) !important ;
    border-radius: 6px;
    padding: 5px;
}
.footer-subscribe:hover{
    border: 1px solid !important;
    border-color:rgb(134, 129, 129) !important ;
    border-radius: 6px;
    
}
.footer-subscribe::placeholder{
    color: rgb(197, 193, 193);
    font-family: "Montserrat", serif !important; 
}
.nxt-bn{
    border: none !important;
    padding: 7px;
    width:80px;
    font-family: "Montserrat", serif !important; 
    border-radius: 7px;
    color: #BD002E;
    font-weight: 600;
}
.section1-about{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    font-weight: 600;
}
.section-three-box{
    margin-top: 50px;
    width: 25rem !important;
    position: relative;
    left: 180px;
}
.section-three-content{
    font-family: "Montserrat", serif !important; 
    font-weight: 700 !important;
    color: #BD002E;
}
.sn-three-subtext{
    font-family: "Montserrat", serif !important; 
    color: rgb(108, 105, 105);
    font-weight: 600;
}
.list-text{
    font-family: "Montserrat", serif !important; 
    color: rgb(108, 105, 105);
    font-weight: 600;
    position: relative;
    left: 10px !important;
    padding: 10px;
}
.check-icon{
    color: #BD002E;
    font-size: larger;
    font-weight: 700;
    position: relative;
    right: 10px !important;
}
.img17{
    position: relative;
    bottom: 50px;
    right: 220px;
}
.product-title{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    font-weight: 600;
}
.card-box{
    border: none !important;
}
.cd-title{
    font-family: "Montserrat", serif !important; 
    color: #BD002E;
    font-weight: 600;
}
.cake-price{
    font-family: "Montserrat", serif !important;
    color: rgb(108, 105, 105);
    font-weight: 600;
}
.cd-text{
    font-family: "Montserrat", serif !important;
    color: rgb(108, 105, 105);
    font-weight: 500;
}
.cd-btn{
    font-family: "Montserrat", serif !important;
    background-color: #BD002E !important;
    border: none !important;
    position: relative;
    left: 55px;
    font-weight: 500;
}
.cd-btn:hover{
    background-color: white !important;
    color: #BD002E !important;
    border: 1px solid !important;
    border-color: #BD002E !important;
    font-weight: 500;
}
/* .box-one{
    position: relative;
    left: 60px;
}
.box-two{
    position: relative;
    left: 60px;
}
.box-three{
    position: relative;
    left: 60px;
} */
.img18{
    margin-left: 150px;
}
@media screen and (max-width:440px){

    .nav-heading {

        float: left;
    }


    /* page-one */
    .section1-div{
        width: auto;
        height: auto;
        position: relative;
        bottom: 50px;
    }
    .btn-two{
        position: relative;
        left: 25px;
    }
    .img2{
        width: 75%;
    }
    .explore-sub{
        width:22rem !important;
        text-align: center;
    }
    
    .footer-bg{
        display: flex;
        flex-wrap: wrap;
        width: auto !important;
        height: auto !important;
    }
    .ft-img{
        margin-left: 95px;
    }
    .footer-title{
        margin-left: 90px;
    }
    .footer-col2{
        margin-right: 20px !important;
    }
    .footer-col3{
        position: relative;
        left: 2px;
    }
    .address{
        width: 10px;
    }
    .nav-img{
        position: relative;
        left: 25px;
    }
    .nav-searchbar{
        position :relative;
        left: 15px;
    }
    .nav-btn{
        margin-left: 10px;
    }
    
    .card{
        position: relative;
        left: 35px;
    }
    .icon-list{
        position: relative;
        top: 10px;
        justify-content: center !important;
    }
    .nav-text{
        display: inline-block !important;
    }
    .nav-heading{
        display: inline-block !important;
    }
    .img17{
        width: 350px !important;
        justify-content: center !important;
    }
    /* .img18{
        position: relative;
        right: 120px !important;
    } */
   
    .img16{
        width: 350px;
    }
    .img-one{
        width: 100%;
    }
    
    
}